* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #249688 0px,
    #249688 15vh,
    #d6d5d0 15vh,
    #d6d5d0 100vh
  );
}

/* CONTAINER */
.container {
  width: 80%;
  min-width: 900px;
  height: 95%;
  background-color: white;
}

.container .left,
.container .right {
  float: left;
  height: 100%;
}

/* CONTAINER LEFT */
.container .left {
  width: 35%;
  background-color: white;
}

/* HEADER LEFT/RIGHT */
.container .left header.header-left,
.container .right header.header-right {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 10px;
  background-color: #eaeaea;
}

/* HEADER RIGHT */
.container .right header.header-right {
  border-left: 1px solid lightgray;
}

/* USER-NAME */
.user-name {
  display: flex;
  align-items: center;
  height: 100%;
}

.user-name img {
  height: 80%;
  border-radius: 100px;
}

.user-name h5 {
  color: gray;
}

.user-buttons {
  display: flex;
  align-items: center;
}

.user-buttons i {
  margin-left: 20px;
  font-size: 22px;
  color: #b1b1b1;
  transition: 0.1s;
}

.user-buttons i:hover {
  color: gray;
}

/* NOTIFICATION */
.container .left .notification {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  background-color: #8edbfc;
  font-size: 18px;
}

.container .left .notification i {
  background-color: white;
  color: #8edbfc;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.container .left .notification a {
  color: gray;
}

/* SEARCH */
.search {
  height: 40px;
  background-color: #ececec;
  padding: 5px;
}

.search .search-box {
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
}

.search .search-box i {
  color: #F1F1F1;
  margin: 0 30px;
}

.search .search-box input {
  height: 30px;
  width: 100%;
  padding: 5px;
  border: none;
}

/* CONTACTS */
.contacts-container {
  overflow-y: scroll;
  height: calc(100% - 70px - 90px - 40px);
}

.contacts-container ul {
  list-style: none;
}

.contacts-container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  border-top: 1px solid lightgray;
}

.contacts-container ul li img{
  height: 80%;
  border-radius: 50%;
}

/* CONTAINER RIGHT */
.container .right {
  width: 65%;
}

.container .right header,
.container .right footer {
  height: 70px;
}

.container .right section {
  height: calc(100% - 140px);
  background-image: url(/assets/img/mine.jpg);
}

/* MESSAGES */
section.messages ul {
  list-style: none;
  height: 100%;
  overflow-y: scroll;
}

section.messages ul li {
  min-height: 50px;
  min-width: 20px;
  max-width: 250px;
  border-radius: 10px;
  margin: 10px 50px;
  padding: 10px;
  position: relative;
  clear: both;
}

section.messages ul li.sent {
  background-color: #D5F9BB;
  float: right;
}

section.messages ul li.received {
  background-color: white;
  float: left;
}

section.messages ul li i {
  font-size: 20px;
  margin: 0 5px;
  color: transparent;
  cursor: pointer;
}

section.messages ul li i:hover {
  color: gray;
}

section.messages ul li .time {
  color: gray;
  font-size: 12px;
  position: absolute;
  bottom: 4px;
  right: 20px;
}

/* FOOTER */
.container .right footer {
  background-color: #f3eeea;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  color: #6b7376;
}

.container .right footer i {
  color: gray;
  transition: 0.1s;
}

.container .right footer i:hover {
  color: black;
}

.container .right footer input {
  height: 70%;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
}
