* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: 
    linear-gradient(to bottom,
      #249688 0px,
      #249688 15vh,
      #D6D5D0 15vh,
      #D6D5D0 100vh
  
    );
}

/* CONTAINER */
.container {
  width: 80%;
  min-width: 900px;
  height: 95%;
  background-color: white;
}

.container .left,
.container .right {
  float: left;
  height: 100%;
}

/* CONTAINER LEFT */
.container .left {
  width: 35%;
  background-color: wheat;
}

/* HEADER LEFT */
.container .left header.header-left {
  height: 70px;
  width: 100%;
  background-color: cadetblue;
}

.header-left .user-name{
  height: 100%;
  width: 100%;
}

.header-left .user-name img {
  height: 30px;
  width: 30px;
}

/* CONTAINER RIGHT */
.container .right {
  width: 65%;
  background-color: thistle;
}

.container .right header,
.container .right footer {
  height: 70px;
  background-color: brown;
}

.container .right section {
  height: calc(100% - 140px);
}